.certificate {
  background-color: rgba(34, 34, 34, 0.7);
  font-size: 2.5rem;
  border: 2rem solid rgba(143, 91, 32, 0.25);
  text-align: center;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3.5rem 4rem rgba($color-black, 0.75);
  transition: transform 0.3s;
  height: 30em;
  transition: all 0.5s;
  justify-self: center;
  filter: blur(4px);
  -webkit-filter: blur(2px);

  @include respond(tab-port) {
    border: 1rem solid rgba(143, 91, 32, 0.25);
    height: 20em;
  }
  // &__icon {
  //   font-size: 6rem;
  //   margin-bottom: 0.5rem;
  //   display: inline-block;
  //   background-image: linear-gradient(
  //     to right,
  //     $color-primary-light,
  //     $color-primary-dark
  //   );
  //   -webkit-background-clip: text;
  //   color: transparent;

  //   @include respond(tab-port) {
  //     margin-bottom: 0;
  //     height: 2em;
  //   }
  // }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 4rem 7rem rgba(255, 144, 17, 0.7);
  }
}

.information {
  background-color: transparent;
  font-size: 2.9rem;
  color: #fff;
  justify-self: center;
  display: flex;
  margin-top: 6em;
  margin-right: 5em;

  @include respond(tab-port) {
    margin-top: 0;
    margin-right: 0;
    padding: 0;
  }
}

.section-3 {
  color: #fff;
  margin-bottom: 2em;

  @include respond(tab-port) {
    margin-bottom: 0.1rem;
  }
}
